@model LADOT_Web_API.Models.Vehicle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastFuel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastFuel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.currentFuel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.currentFuel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastMileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastMileage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.currentMileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.currentMileage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.carId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
